
<div>
    <h2><span>Resulting</span> {{vm.resulting.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Home Team</span></dt>
        <dd>
            <span>{{vm.resulting.homeTeam}}</span>
        </dd>
        <dt><span>Away Team</span></dt>
        <dd>
            <span>{{vm.resulting.awayTeam}}</span>
        </dd>
        <dt><span>Home Score</span></dt>
        <dd>
            <span>{{vm.resulting.homeScore}}</span>
        </dd>
        <dt><span>Away Score</span></dt>
        <dd>
            <span>{{vm.resulting.awayScore}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
