<div>
    <h2 translate="icontentApp.marketType.home.title">MarketTypes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="marketType.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="icontentApp.marketType.home.createLabel">Create new MarketType
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="icontentApp.marketType.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cancelledByCodes"><span translate="icontentApp.marketType.cancelledByCodes">CancelledByCodes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="basicDisplay"><span translate="icontentApp.marketType.basicDisplay">BasicDisplay</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="masterSelection"><span translate="icontentApp.marketType.masterSelection">MasterSelection</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="derivativeType"><span translate="icontentApp.marketType.derivativeType">DerivativeType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="forecastType"><span translate="icontentApp.marketType.forecastType">ForecastType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="marketType in marketTypes track by marketType.id">
                    <td><a ui-sref="marketType.detail({id:marketType.id})">{{marketType.id}}</a></td>
                    <td>{{marketType.description}}</td>
                    <td>{{marketType.cancelledByCodes}}</td>
                    <td>{{marketType.basicDisplay}}</td>
                    <td>{{marketType.masterSelection}}</td>
                    <td translate="{{'icontentApp.DerivativeType.' + marketType.derivativeType}}">{{marketType.derivativeType}}</td>
                    <td>{{marketType.forecastType.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="marketType.detail({id:marketType.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="marketType.edit({id:marketType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="marketType.delete({id:marketType.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
