
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCodeTypeLabel" translate="icontentApp.marketType.codeType.createOrEditLabel">Create or edit a CodeType</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <!-- <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="codeType.id" readonly />
        </div> -->
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="codeType.description"/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeSide" for="field_algorithmCodeSide">Algorithm Code Side</label>
            <select class="form-control" name="algorithmCodeSide" ng-model="codeType.algorithmCodeSide" ng-options="side as side for side in marketSides"></select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeLowLimit" for="field_algorithmCodeLowLimit">Algorithm Code Low Limit</label>
            <input type="number" step="0.01" class="form-control" name="algorithmCodeLowLimit" id="field_algorithmCodeLowLimit"
                    ng-model="codeType.algorithmCodeLowLimit"/>
                    
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeHighLimit" for="field_algorithmCodeHighLimit">Algorithm Code High Limit</label>
            <input type="number" step="0.01" class="form-control" name="algorithmCodeHighLimit" id="field_algorithmCodeHighLimit"
                    ng-model="codeType.algorithmCodeHighLimit"/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeSpecialValue" for="field_algorithmCodeSpecialValue">Algorithm Code Special Value</label>
            <input type="text" class="form-control" name="algorithmCodeSpecialValue" id="field_algorithmCodeSpecialValue"
                    ng-model="codeType.algorithmCodeSpecialValue" />
        </div>
         <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeSubstractionDependant" for="field_algorithmCodeSubstractionDependant">Algorithm Code Substraction Dependant</label>
            <input type="checkbox" class="form-control" name="algorithmCodeSubstractionDependant" id="field_algorithmCodeSubstractionDependant"
                    ng-model="codeType.algorithmCodeSubstractionDependant" />
        </div>
         <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeNormalKey" for="field_algorithmCodeNormalKey">Algorithm Code Normal Key</label>
            <input type="text" class="form-control" name="algorithmCodeNormalKey" id="field_algorithmCodeNormalKey"
                    ng-model="codeType.algorithmCodeNormalKey" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.codeType.algorithmCodeDescription" for="field_algorithmCodeDescription">Algorithm Code Description</label>
            <input type="text" class="form-control" name="algorithmCodeDescription" id="field_algorithmCodeDescription"
                    ng-model="codeType.algorithmCodeDescription" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
