
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMarketTypeLabel" translate="icontentApp.marketType.home.createOrEditLabel">Create or edit a MarketType</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="marketType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="marketType.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.cancelledByCodes" for="field_cancelledByCodes">CancelledByCodes</label>
            <input type="checkbox" class="form-control" name="cancelledByCodes" id="field_cancelledByCodes"
                    ng-model="marketType.cancelledByCodes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.basicDisplay" for="field_basicDisplay">BasicDisplay</label>
            <input type="checkbox" class="form-control" name="basicDisplay" id="field_basicDisplay"
                    ng-model="marketType.basicDisplay"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.masterSelection" for="field_masterSelection">MasterSelection</label>
            <input type="checkbox" class="form-control" name="masterSelection" id="field_masterSelection"
                    ng-model="marketType.masterSelection"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.derivativeType" for="field_derivativeType">DerivativeType</label>
            <select class="form-control" name="derivativeType" ng-model="marketType.derivativeType" id="field_derivativeType">
                <option value="derivativeTable" translate="icontentApp.DerivativeType.derivativeTable">derivativeTable</option>
                <option value="derivativeAlgorithm" translate="icontentApp.DerivativeType.derivativeAlgorithm">derivativeAlgorithm</option>
                <option value="manual" translate="icontentApp.DerivativeType.manual">manual</option>
                <option value="provider" translate="icontentApp.DerivativeType.provider">provider</option>
                <option value="_reserved_" translate="icontentApp.DerivativeType._reserved_">_reserved_</option>
                <option value="providerBeforeInput" translate="icontentApp.DerivativeType.providerBeforeInput">providerBeforeInput</option>
                <option value="_undefined_" translate="icontentApp.DerivativeType._undefined_">_undefined_</option>
            </select>
        </div>
	 	<div class="form-group">
            <label class="control-label" translate="icontentApp.marketType.forecastType" for="field_forecastType">ForecastType</label>
            <select class="form-control" name="forecastType" ng-model="marketType.forecastType" ng-options="ft as ft.description for ft in forecastTypes track by ft.id"></select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ui-sref="{{getCodeTypeState()}}" ng-click="newCT=true">
                 <span class="glyphicon glyphicon-plus"></span>
                 <span 
                     translate="icontentApp.marketType.addcodetype">Add CodeType
                 </span>
            </button>
        </div>
        <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse">
                    <th jh-sort-by="description"><span translate="icontentApp.marketType.codeType.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeSide"><span translate="icontentApp.marketType.codeType.algorithmCodeSide">Algorithm Code Side</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeLowLimit"><span translate="icontentApp.marketType.codeType.algorithmCodeLowLimit">Algorithm Code Low Limit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeHighLimit"><span translate="icontentApp.marketType.codeType.algorithmCodeHighLimit">Algorithm Code High Limit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeSpecialValue"><span translate="icontentApp.marketType.codeType.algorithmCodeSpecialValue">Algorithm Code Special Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeSubstractionDependant"><span translate="icontentApp.marketType.codeType.algorithmCodeSubstractionDependant">Algorithm Code Substraction Dependant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeNormalKey"><span translate="icontentApp.marketType.codeType.algorithmCodeNormalKey">Algorithm Code Normal Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="algorithmCodeDescription"><span translate="icontentApp.marketType.codeType.algorithmCodeDescription">Algorithm Code Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="codeType in marketType.codeTypes">
                    <td>{{codeType.description}}</td>
                    <td>{{codeType.algorithmCodeSide}}</td>
                    <td>{{codeType.algorithmCodeLowLimit}}</td>
                    <td>{{codeType.algorithmCodeHighLimit}}</td>
                    <td>{{codeType.algorithmCodeSpecialValue}}</td>
                    <td>{{codeType.algorithmCodeSubstractionDependant}}</td>
                    <td>{{codeType.algorithmCodeNormalKey}}</td>
                    <td>{{codeType.algorithmCodeDescription}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button class="btn btn-primary btn-sm" ng-click="openEditCodeTypeWindow(codeType)">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                           <button type="submit"
                                    ui-sref="codeType.delete({id:codeType.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
