
<div>
    <h2><span translate="icontentApp.marketType.detail.title">MarketType</span> {{marketType.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="icontentApp.marketType.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{marketType.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.marketType.cancelledByCodes">CancelledByCodes</span>
                </td>
                <td>
                    <span class="form-control-static">{{marketType.cancelledByCodes}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.marketType.basicDisplay">BasicDisplay</span>
                </td>
                <td>
                    <span class="form-control-static">{{marketType.basicDisplay}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.marketType.masterSelection">MasterSelection</span>
                </td>
                <td>
                    <span class="form-control-static">{{marketType.masterSelection}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.marketType.derivativeType">DerivativeType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'icontentApp.DerivativeType.' + marketType.derivativeType}}">{{marketType.derivativeType}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
