
<form name="updateFixtureForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFixtureLabel">Update Fixture Summary</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error> 
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span></span></th> 
                    <th><span>KickOff</span> </th>  
                    <th><span>Status</span> </th>
                    <th><span>OddFd</span></th>
                    <th><span>dataFd</span></th>
                    <th><span>Template</span></th>
                </tr>
            </thead>
            <tr ng-repeat="fixture in vm.changedData">
                <td>{{fixture.id}}</td>  
                <td style="text-align:center;">{{(fixture.kickOff | date:"dd/MM/yyyy h:mm a")|| '' }}</td> 
                <td></td>
                <td></td>
                <td></td>
                <td>{{ fixture.template || '' }}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
