<div class="container well">
<jh-alert></jh-alert>
<form name="editForm" role="form" novalidate ng-submit="vm.saveFixture()">

    <div>
        <h4 class="modal-title" id="myFixtureLabel">Create Fixture</h4>
    </div>
    <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="row" style="min-height: 200px;">
            <div class="form-group hidden">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="vm.fixture.id" readonly />
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_sports">Sports</label>
                <select class="form-control" name="sports" id="field_sports"
                        ng-model="vm.fixture.sport" required ng-options="sport as sport.description for sport in vm.lexiconSports track by sport.sportId"
                        ng-change="vm.fetchCategories(vm.fixture.sport.sportId)"
                         >
                    <option value="">-- Choose Sports --</option>
                </select>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_category">Categories</label>
                <select class="form-control" name="category" id="field_category"
                        ng-model="vm.fixture.category" required ng-disabled="!vm.fixture.sport"
                        ng-options="category as category.description for category in vm.lexiconSportsCategories track by category.categoryId" ng-change="vm.fetchTournaments(vm.fixture.category.categoryId)"
                         >
                    <option value="">-- Choose Category --</option>
                </select>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_tournament">Tournaments</label>
                <select class="form-control" name="tournament" id="field_tournament"
                        ng-model="vm.fixture.tournament" required ng-disabled="!vm.fixture.category"
                        ng-options="tournament as tournament.description for tournament in vm.tournamentsList track by tournament.tournamentId" ng-change="vm.fetchTemplates(vm.fixture.tournament)"
                         >
                    <option value="">-- Choose Tournament --</option>
                </select>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_template">Template</label>
                <select class="form-control" name="template" id="field_template"
                        ng-model="vm.fixture.template" required ng-disabled="!vm.fixture.tournament"
                        ng-options="item as item for item in vm.templateList"
                         >
                    <option value="">-- Choose Template --</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3" ng-class="{'has-error':editForm.kickOff.$invalid}">
                <label class="control-label" for="field_kickOff">KickOff</label>
                    <div class="input-group">
                        <input id="field_kickOff" type="text" class="form-control" name="kickOff" datetime-picker="{{dateformat}}" ng-model="vm.fixture.kickOff" is-open="vm.datePickerOpenStatus.kickOff" required />
                        <span class="input-group-addon">
                            <span ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></span>
                            <!-- <button type="button" class="btn btn-default" ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></button> -->
                        </span>
                    </div>
                    <div class="text-danger" ng-show="editForm.kickOff.$invalid" align="right">Invalid Date/Time Value.</div>
            </div>
            <div class="form-group col-xs-3 teams" ng-class="{'has-error':editForm.home.$invalid&&!editForm.home.$pristine}">
                <label class="control-label" for="field_home">Home Team</label>
                <i ng-show="loadingHomeTeams" class="glyphicon glyphicon-refresh"></i>
                <input type="text" class="form-control" name="home" id="field_home" autocomplete="off"
                        ng-model="vm.fixture.homeTeam" required
                        ng-change="vm.validationTeamChange('home', vm.fixture.homeTeam)"
                        typeahead-min-length="3"
                        typeahead-loading="loadingHomeTeams"
                        uib-typeahead="team as team.description for team in vm.searchTeam($viewValue)"
                        typeahead-on-select="vm.validationTeamSelection('home',vm.fixture.homeTeam)"
                        />
                <div class="text-danger" ng-show="editForm.home.$invalid&&!editForm.home.$pristine" align="right">Invalid value.</div>
            </div>
            <div class="form-group col-xs-3 teams" ng-class="{'has-error':editForm.away.$invalid&&!editForm.away.$pristine}">
                <label class="control-label" for="field_away">Away Team</label>
                <i ng-show="loadingAwayTeams" class="glyphicon glyphicon-refresh"></i>
                <input type="text" class="form-control" name="away" id="field_away" autocomplete="off"
                        ng-model="vm.fixture.awayTeam" required
                        ng-change="vm.validationTeamChange('away', vm.fixture.awayTeam)" 
                        typeahead-min-length="3"
                        typeahead-loading="loadingAwayTeams"
                        uib-typeahead="team as team.description for team in vm.searchTeam($viewValue)"
                        typeahead-on-select="vm.validationTeamSelection('away',vm.fixture.awayTeam)" />
                <div class="text-danger" ng-show="editForm.away.$invalid&&!editForm.away.$pristine" align="right">Invalid value.</div>
            </div>
        </div>

    </div>
    <div align="right">
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
</div>
