<div ng-cloak>
    <div class="row">
        
        <div class="col-md-12">
            <h1 translate="main.title">Welcome to iContent</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "{{account.login}}".
                </div>
                <input type="button" ng-click="sendMessage()">test</input>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                   Please sign in
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
