
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTournamentTemplateLabel" translate="icontentApp.tournamentTemplate.home.createOrEditLabel">Create or edit a TournamentTemplate</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tournamentTemplate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.tournamentTemplate.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="tournamentTemplate.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.tournamentTemplate.autoPaymentSuspension" for="field_autoPaymentSuspension">AutoPaymentSuspension</label>
            <input type="checkbox" class="form-control" name="autoPaymentSuspension" id="field_autoPaymentSuspension"
                    ng-model="tournamentTemplate.autoPaymentSuspension"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
