<div>
    <h2>Fixture Listings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
        </div>
    </div>
    <br/>
    <div class="row jumbotron">
        <button type="button" class="btn btn-default btn-block btn-primary" ng-click="isCollapsed = isCollapsed ? false : true"><span class="glyphicon glyphicon-filter"></span> Toggle Filter Option</button>
        <br />
        <div uib-collapse="!isCollapsed">
            <div class="well well-lg">
                <form name="filterForm" role="form" novalidate ng-submit="vm.loadFixtures()">
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="filter_status">Status</label>
                            <select class="form-control" name="filter_status" id="filter_status" ng-model="vm.filterStatus">
                                <option value="">-- choose status --</option>
                                <option ng-repeat="status in vm.statuses" ng-value="status.value" ng-selected="status.value==vm.filterStatus">{{status.text}}</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="filter_date_range">Date Range</label>
                            <div>
                              <input date-range-picker ui-options="dateRangeOptions" class="form-control date-picker" type="text" ng-model="vm.datePicker"  /> 
                            </div>
                        <div class="text-danger" ng-show="filterForm.dateRange.$invalid" align="right">Invalid Date/Time Value.</div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="filter_sports">Sports</label>
                            <select class="form-control" name="sports" id="field_sports"
                                    ng-model="vm.filterSports" ng-options="item as item for item in vm.lexiconSports.response">
                                <option value="">-- choose sports --</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="field_tournament">Tournament</label>
                            <select class="form-control" name="tournament" id="field_tournament"
                                    ng-model="vm.filterTournament" ng-options="item as item for item in vm.lexiconTournament.response">
                                <option value="">-- choose tournament --</option>
                            </select>
                        </div>
                        </div>
                        <div class="row" align="right">
                            <hr />
                            <button type="submit" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-saved"></span>&nbsp;<span>Apply</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <table style="margin-top: -25px;">
        <tr>
            <td><jhi-alert></jhi-alert></td>
            <td width="10%">
                
            </td>
        </tr>
    </table>
    
            <h3>
            Events 
                <button class="btn btn-primary pull-right btn-sm" ui-sref="fixture-new">
                    <span>
                        Upload Menus
                    </span>
                </button>
            </h3>
            <br>
            
    <table class="jh-table table table-bordered" >
        <tr>
            <td width="4%">
                <button class="btn btn-primary btn-sm" ui-sref="event-listing.new" ng-click="vm.clearAll()">
                                    Clear
                </button>
            </td><td width="1%"></td>
            <td width="4%">
                <button class="btn btn-primary" ui-sref="update-fixture-modal">
                    Save Fixtures
                </button>
            </td>
            </td><td width="1%"></td>
            <td width="4%">
                <button class="btn btn-primary btn-sm" >
                    Activate Events
                </button>
            </td>
            </td><td width="1%"></td>
            <td width="4%">
                <button class="btn btn-primary btn-sm" >
                    Synchronize Events
                </button>
            </td>
            </td><td width="1%"></td>
            <td width="4%">
                <button class="btn btn-primary btn-sm" >
                    Export Events
                </button>
            </td>
            </td><td width="1%"></td>
            <td width="4%">
                <select class="form-control" style="width:125px;">
                    <option label="Antepost"> Antepost </option>
                    <option> Rolling </option>
                </select>
            </td>
            </td><td width="1%"></td>

            <td width="4%">
                <button class="btn btn-primary btn-sm" ui-sref="fixture-modal">
                    Actions
                </button>
            </td>
            </td><td width="1%"></td>
            <td width="40%">
                <input type="checkbox" ng-model="selectedAll" ng-click="vm.checkAll()">
                <span>Select All</span>
            </td>
            <td width="20%"></td>
        </tr>
    </table>

    <div class="table-responsive">
        <table class="jh-table table table-striped table-bordered">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()" style="font-size: 14px;">
                    <th jh-sort-by="checkbox"><span></span>ID<span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span>Priced</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="id"><span>Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="home"><span>Home</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="away"><span>Away</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tournament"><span>Tournament</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kickOff"><span>KickOff</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Intial Pricing ID"><span>Intial Pricing ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span >Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Input Parameters 1"><span>Input Parameters 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Input Parameters 2"><span>Input Parameters 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="home" colspan="3" style="width: 100px;"><span>B-Final Result</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="away" colspan="3" style="width: 1000px;"><span>B-Under/Over 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="OddFd"><span >OddFd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataFd"><span >dataFd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="template"><span>Template</span> <span class="glyphicon glyphicon-sort">
                </tr>
            </thead>
            <tbody ng-show="(vm.fixtures | filter:search).length">
                <tr id="searchRow">
                    <td></td>
                    <td><input type="checkbox" ng-model="selectedAll" ng-click="vm.checkAll()"></td>
                    <td></td>
                    <td><input class="form-control" type="text" ng-model="search.home" /></td>
                    <td><input class="form-control" type="text" ng-model="search.away" /></td>
                    <td><input class="form-control" type="text" ng-model="search.tournament" /></td>
                    <td><input class="form-control" type="text" ng-model="search.kickOff" /></td>
                    <td></td> 
                    <td></td>
                    <td></td> 
                    <td></td>
                    <td>1tt</td>
                    <td>Xtt2</td>
                    <td>2</td>
                    <td>Overround</td>
                    <td>O 2.5</td>
                    <td>U 2.5</td>
                    <td></td> 
                    <td></td>
                    <td></td>
                </tr> 
                <tr ng-repeat="fixture in vm.fixtures | filter:search" style="font-size: 13px;"> 
                    <td><a ui-sref="fixture-details({id:fixture.id})">{{fixture.id}}</a></td>
                    <td><input type="checkbox" ng-model="fixture.Selected"></td>
                    <td>1/4</td>
                    <td>{{fixture.home}}</td>
                    <td>{{fixture.away}}</td>
                    <td>{{fixture.tournament}}</td>
                    <td style="text-align:center;">
                        <a href="#" type="date" editable-bsdate="fixture.kickOff" e-is-open="vm.opened.$data" e-ng-click="vm.open($event,'$data');" e-datepicker-popup="dd-MMMM-yyyy h:mm a" onaftersave="vm.saveData(fixture.id, $data, 1)">
                            {{ (fixture.kickOff | date:"dd/MM/yyyy h:mm a") || 'empty' }}
                        </a>
                    </td>
                    <td></td>
                    <td style="text-align:center;">
                        <a href="#" editable-select="fixture.status" buttons="no" e-ng-options="vm.value as vm.text for vm in vm.statuses"  onaftersave="vm.saveData(fixture.id, $data, 2)"> 
                             {{ fixture.status }}
                        </a>
                    </td>
                    <td><a href="#" editable-number="fixture.inputParameters1 " buttons="no">{{ fixture.inputParameters1  || 'empty' }}</a></td>
                    <td><a href="#" editable-number="fixture.inputParameters2 " buttons="no">{{ fixture.inputParameters2  || 'empty' }}</a></td>
                    <td><a href="#" editable-number="fixture._1tt " buttons="no">{{ fixture._1tt  || 'empty' }}</a> </td>
                    <td><a href="#" editable-number="fixture._xtt2" buttons="no">{{ fixture._xtt2 || 'empty' }}</a> </td>
                    <td><a href="#" editable-number="fixture._2" buttons="no">{{ fixture._2 || 'empty' }}</a></td>
                    <td><a href="#" editable-number="fixture.Overround" buttons="no">{{ fixture.Overround || 'empty' }}</a></td> 
                    <td><a href="#" editable-number="fixture.O25" buttons="no">{{ fixture.O25 || 'empty' }}</a></td>
                    <td><a href="#" editable-number="fixture.U25" buttons="no">{{ fixture.U25 || 'empty' }}</a></td>  
                    <td> <a href="#" editable-text="fixture.oddFd"  onaftersave="vm.saveData(fixture.id, $data, 3)" buttons="no">{{ fixture.oddFd || 'empty' }}</a></td>
                    <td> <a href="#" editable-text="fixture.dataFd" onaftersave="vm.saveData(fixture.id, $data, 4)" buttons="no">{{ fixture.dataFd || 'empty' }}</a></td>
                    <td> <a href="#" editable-text="fixture.template" onaftersave="vm.saveData(fixture.id, $data, 5)" buttons="no">{{ fixture.template || 'empty' }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-show="(vm.fixtures | filter:search).length">
        <div class="info">
                Showing {{((vm.page-1) * vm.itemsPerPage)==0 ? 1:((vm.page-1) * vm.itemsPerPage)}} -
                    {{(vm.page * vm.itemsPerPage) < vm.queryCount ? (vm.page * vm.itemsPerPage) : vm.queryCount}} 
                    of {{vm.queryCount}} items. 
        </div>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="{{pagination.itemsPerPage}}" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        <ul class="pagination">
            <li class="pagination-page">
                <span class="select">
                    <select ng-model="pagination.itemsPerPage" ng-change="vm.loadFixtures(1);">  
                        <option value="20" ng-selected="vm.itemsPerPage==20">20</option> 
                        <option value="40" ng-selected="vm.itemsPerPage==40">40</option>
                        <option value="50" ng-selected="vm.itemsPerPage==60">60</option>
                    </select>
                </span>
            </li>
        </ul> 
    </div>
</div>
