
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEquationGroupLabel" translate="icontentApp.equationGroup.home.createOrEditLabel">Create or edit a EquationGroup</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="equationGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.equationGroup.marksconstants">Marks and Constants</label>
            <div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                	<th></th>
		                    <th><span translate="icontentApp.equationGroup.lefthand">Left Hand</span></th>
		                    <th><span translate="icontentApp.equationGroup.righthand">Right Hand</span></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="mark in equation.marks">
		                    <td>{{mark.sign}}{{mark.period}}{{mark.side}}</td>
		                    <td>
		                        <input type="checkbox" class="form-control" name="lefthand" ng-model="mark.inleft"/>
		                    </td>
		                    <td>
		                        <input type="checkbox" class="form-control" name="righthand" ng-model="mark.inright"/>
		                    </td>
		                </tr>
		                <tr ng-repeat="constant in equation.constants">
		                    <td>{{constant.sign}}{{constant.type}}{{constant.value}}</td>
		                    <td>
		                        <input type="checkbox" class="form-control" name="lefthand" ng-model="constant.inleft"/>
		                    </td>
		                    <td>
		                        <input type="checkbox" class="form-control" name="righthand" ng-model="constant.inright"/>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
        </div>
        <!--add mark and constant buttons <div class="form-group">
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addEquation()">
	            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="entity.action.addequation">Add Equation</span>
	        </button>
        </div> -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
