
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEquationGroupLabel" translate="icontentApp.equationGroup.home.createOrEditLabel">Create or edit a EquationGroup</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="equationGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.equationGroup.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="equationGroup.description"
                     />
        </div>
        <div class="form-group">
			<button type="button" class="btn btn-primary" ui-sref="equationGroup.newEquation">
	            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="entity.action.addequation">Add Equation</span>
	        </button>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
