<div>
    <h2 translate="icontentApp.translationObj.home.title">TranslationObjs</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="translationObj.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="icontentApp.translationObj.home.createLabel">Create new TranslationObj
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="kickOff">
                        <span translate="icontentApp.translationObj.kickOff">KickOff</span> 
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="sport.description">
                        <span translate="lexicon.sport.description">Sport</span> 
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="category.description">
                        <span translate="lexicon.category.description">Category</span> 
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="tournament.description">
                        <span translate="lexicon.tournament.description">Tournament</span> 
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="homeTeam.description">
                        <span translate="lexicon.homeTeam.description">Home</span> 
                        <span translate="global.versus">vs</span> 
                        <span translate="lexicon.awayTeam.description">Away</span> 
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="translationObj in translationObjs track by translationObj.id">
                    <td >{{translationObj.kickOff | date:'dd/MM/y HH:mm'}}</td>
                    <td ng-class="{' alert-danger':!translationObj.sport.translated}">{{translationObj.sport.description }} </td>
                    <td ng-class="{' alert-danger':!translationObj.category.translated}">{{translationObj.category.description }}</td>
                    <td  ng-class="{' alert-danger':!translationObj.tournament.translated}">{{translationObj.tournament.description }}</td>
                    <td >
                        <span ng-class="{' alert-danger':!translationObj.homeTeam.translated}" >{{translationObj.homeTeam.description }} </span>
                        <span translate="global.versus">vs</span> 
                        <span ng-class="{' alert-danger':!translationObj.awayTeam.translated}" >{{translationObj.awayTeam.description }}</span>
                    </td>

                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
