<jhi-alert></jhi-alert>
<form name="editForm" role="form" novalidate ng-submit="vm.updateFixture()">
<div>
    <div class="row">
        <div class="col-xs-8">
            <div class="pull-left">
                <h2><span>Fixture</span> {{vm.fixture.id}}</h2>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                <button type="button" ng-hide="vm.isEditMode" class="btn btn-primary"  ng-click="vm.toggleEditMode()">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Mode
                </button>
                <button ng-show="vm.isEditMode" type="button" class="btn btn-danger" ng-click="vm.toggleEditMode()" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <dl class="dl-horizontal">
            <dt><span>Kick Off</span></dt>
            <dd>
                <span ng-hide="vm.isEditMode">{{vm.fixture.kickOff | date:'medium'}}</span>
                <div class="row">
                    <div ng-show="vm.isEditMode" class="col-xs-6 col-sm-4" ng-class="{'has-error':editForm.kickOff.$invalid}">
                        <div class="input-group">
                            <input id="field_kickOff" type="text" class="form-control" name="kickOff" datetime-picker="{{dateformat}}" ng-model="vm.kickOff_new" is-open="vm.datePickerOpenStatus.kickOff" required />
                            <span class="input-group-addon">
                                <span ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></span>
                                <!-- <button type="button" class="btn btn-default" ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></button> -->
                            </span>
                        </div>
                    </div>
                </div>
            </dd>
            <hr>
            <dt><span>Sports</span></dt>
            <dd>
                <span>{{vm.fixture.sports}}</span>
            </dd>
            <hr>
            <dt><span>Category</span></dt>
            <dd>
                <span>{{vm.fixture.category}}</span>
            </dd>
            <hr>
            <dt><span>Tournament</span></dt>
            <dd>
                <span>{{vm.fixture.tournament}}</span>
            </dd>
            <hr>
            <dt><span>Template</span></dt>
            <dd>
                <span>{{vm.fixture.template}}</span>
            </dd>
            <hr>
            <dt><span>Status</span></dt>
            <dd>
                <span ng-hide="vm.isEditMode">{{vm.status}}</span>   
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                         <select class="form-control col-xs-6" ng-show="vm.isEditMode" ng-model="vm.status_new" >
                         <option name="Active" selected>Active</option>
                         <option name="In-Active">In-Active</option>  </select>
                    </div>
                </div>
            </dd>
            <hr>
            <dt><span>Home</span></dt>
            <dd>
                <span>{{vm.fixture.home}}</span>
            </dd>
            <hr>
            <dt><span>Away</span></dt>
            <dd>
                <span>{{vm.fixture.away}}</span>
            </dd>
            <hr>
            <dt><span >OddFd</span></dt>
            <dd>
                <span ng-hide="vm.isEditMode">{{vm.OddFd}}</span>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <input type="text" class="form-control col-xs-6" ng-model="vm.OddFd_new" aria-invalid="false" ng-show="vm.isEditMode">
                    </div>
                </div>

            </dd>
            <hr>
            <dt><span >dataFd</span></dt>
            <dd>
                <span ng-hide="vm.isEditMode" >{{vm.dataFd}}</span>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <input type="text" class="form-control col-xs-6" ng-model="vm.dataFd_new" ng-show="vm.isEditMode" aria-invalid="false">
                    </div>
                </div>
            </dd>
            <hr>
        </dl>
    </div>


    <button type="button"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <button type="submit" ng-show="vm.isEditMode"
            class="btn btn-primary" ng-disabled="editForm.$invalid || isSaving">
        <span class="glyphicon glyphicon-ok"></span>&nbspUpdate</span>
    </button>
</div>
</form>