<jhi-alert></jhi-alert>
<form name="editForm" role="form" novalidate ng-submit="vm.saveFixture()">

    <div class="modal-header">
        <h4 class="modal-title" id="myFixtureLabel">Create or edit a Fixture</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row" style="min-height: 200px;">
            <div class="form-group hidden">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="vm.fixture.id" readonly />
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_sports">Sports</label>
                <select class="form-control" name="sports" id="field_sports"
                        ng-model="vm.fixture.sports" required ng-options="item as item for item in vm.lexiconSports.response"
                        ng-change="vm.fetchCategory(vm.fixture.sports)"
                         >
                    <option value="">-- choose sports --</option>
                </select>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_category">Category</label>
                <select class="form-control" name="category" id="field_category"
                        ng-model="vm.fixture.category" required ng-disabled="!vm.fixture.sports"
                        ng-options="item as item for item in vm.lexiconSportsCategory" ng-change="vm.fetchTournament(vm.fixture.category)"
                         >
                    <option value="">-- choose category --</option>
                </select>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_tournament">Tournament</label>
                <select class="form-control" name="tournament" id="field_tournament"
                        ng-model="vm.fixture.tournament" required ng-disabled="!vm.fixture.category"
                        ng-options="item as item for item in vm.tournamentList" ng-change="vm.fetchTemplate(vm.fixture.tournament)"
                         >
                    <option value="">-- choose tournament --</option>
                </select>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label" for="field_template">Template</label>
                <select class="form-control" name="template" id="field_template"
                        ng-model="vm.fixture.template" required ng-disabled="!vm.fixture.tournament"
                        ng-options="item as item for item in vm.templateList"
                         >
                    <option value="">-- choose template --</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3" ng-class="{'has-error':editForm.kickOff.$invalid}">
                <label class="control-label" for="field_kickOff">KickOff</label>
                    <div class="input-group">
                        <input id="field_kickOff" type="text" class="form-control" name="kickOff" datetime-picker="{{dateformat}}" ng-model="vm.fixture.kickOff" is-open="vm.datePickerOpenStatus.kickOff" required />
                        <span class="input-group-addon">
                            <span ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></span>
                            <!-- <button type="button" class="btn btn-default" ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></button> -->
                        </span>
                    </div>
                    <div class="text-danger" ng-show="editForm.kickOff.$invalid" align="right">Invalid Date/Time Value.</div>
            </div>
            <div class="form-group col-xs-3" ng-class="{'has-error':editForm.home.$invalid&&!editForm.home.$pristine}">
                <label class="control-label" for="field_home">Home</label>
                <input type="text" class="form-control" name="home" id="field_home" autocomplete="off"
                        ng-model="vm.fixture.home" required uib-typeahead="state for state in vm.lexiconTeams.response | filter:$viewValue | limitTo:8"
                        ng-change="vm.validationTeam('home',vm.fixture.home)"
                        typeahead-on-select="vm.validationTeam('home',vm.fixture.home)" />
                <div class="text-danger" ng-show="editForm.home.$invalid&&!editForm.home.$pristine" align="right">Invalid value.</div>
            </div>
            <div class="form-group col-xs-3" ng-class="{'has-error':editForm.away.$invalid&&!editForm.away.$pristine}">
                <label class="control-label" for="field_away">Away</label>
                <input type="text" class="form-control" name="away" id="field_away" autocomplete="off"
                        ng-model="vm.fixture.away" required uib-typeahead="state for state in vm.lexiconTeams.response | filter:$viewValue | limitTo:8"
                        ng-change="vm.validationTeam('away',vm.fixture.away)"
                        typeahead-on-select="vm.validationTeam('away',vm.fixture.away)" />
                <div class="text-danger" ng-show="editForm.away.$invalid&&!editForm.away.$pristine" align="right">Invalid value.</div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
