<style type="text/css">
    .padding-all{padding:15px;}
    .clearboth{clear: both;}
</style>
<jhi-alert></jhi-alert>
<form name="editForm" class="padding-all" role="form" novalidate> 

{{$stateParams | json}}
<div class="container">
    <div class="row {{(vm.fixture.status == 'Active' || vm.fixture.status == 'Completed') ? 'bg-success' : ((vm.fixture.status == 'Inactive') ? 'bg-warning' : ((vm.fixture.status == 'Blocked' || vm.fixture.status == 'Cancelled') ? 'bg-danger' : ''))}}">
        <div class="col-xs-8">
            <div class="pull-left">
                <h2>Antepost Description</h2>
            </div>
        </div>
        <div class="col-xs-4" style="padding-top:15px;">
            <div class="pull-right">
                <button type="button" ng-if="!vm.isEditMode" class="btn btn-primary"  ng-click="vm.toggleEditMode()">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Mode
                </button>
                <button ng-if="vm.isEditMode" type="button" class="btn btn-primary" ng-click="vm.updateFixture()">Save</button>
                <button ng-show="vm.isEditMode" type="button" class="btn btn-danger" ng-click="vm.toggleEditMode()" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <ol class="breadcrumb">
            <li>{{vm.fixture.sport.description}}</li>
            <li>{{vm.fixture.category.description}}</li>
            <li class="active">{{vm.fixture.tournament.description}}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12" align="right">
            <label style="font-weight:normal;"> Price Derivative </label>
            <input ng-if="vm.isEditMode" name="price_derivative" type="checkbox" ng-model="vm.price_derivative" />
            </br>
            <label ng-if="!vm.isEditMode"> {{vm.price_derivative}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label style="font-weight:normal;"> Market Description </label> </br>
            <div class="row">
                <input ng-if="vm.isEditMode" name="price_derivative" type="text" ng-model="vm.price_derivative" class="col-xs-6" />
                <strong ng-if="vm.isEditMode" class="col-xs-2"> or </strong>
            </br>
            </div>
            <label ng-if="!vm.isEditMode"> {{vm.price_derivative}} </label>
        </div>
        <div ng-if="vm.isEditMode" class="col-xs-5">
            <label style="font-weight:normal;"> Market Type </label>
            <div class="row">
                <span class="col-xs-4">
                    <select class="form-control" ng-model="vm.marketType" ng-change="vm.changeMarketType(vm.marketType)" ng-options="item as item for item in vm.fixtureMarketTypes.value.data">
                        <option value="">-- Choose Markets --</option>
                    </select>
                </span>
            </div>
        </div>
        <div ng-if="vm.isEditMode" class="col-xs-1">
            <label style="font-weight:normal;"> Code </label>
            <div class="row">
                <span class="col-xs-1">
                    <input type="number" name="overround" ng-model="vm.overround"/>
                </span>
            </div>
        </div>
        <div ng-if="vm.isEditMode" class="col-xs-1">
            <label style="font-weight:normal;"> Overround </label>
            <div class="row">
                <span class="col-xs-2">
                    <input type="text" name="overround" ng-model="vm.overround"/>
                </span>
                <span class="col-xs-1">
                    <button type="button" ng-disabled="!vm.marketType" ui-sref="add-market-modal" class="btn btn-primary">Add Market</button>
                </span>
            </div>
        </div>
    </div>
    <hr />
    <h4>Info</h4>
    <div class="row" style="font-size:11px;">
        <div class="col-xs-2">
            Market Activation Date <br />
            <label ng-if="vm.fixture.activationDate">{{vm.fixture.activationDate | date:'medium'}}</label>
            <label ng-if="!vm.fixture.activationDate">Not Set</label>
        </div>
        <div class="col-xs-2">
            Kick Off <br />
            <label ng-if="!vm.isEditMode">{{vm.fixture.kickOff | date:'medium'}}</label> 
            <div ng-if="vm.isEditMode" ng-class="{'has-error':editForm.kickOff.$invalid}">
                <div class="input-group">
                    <input id="field_kickOff" type="text" class="form-control" name="kickOff" datetime-picker="{{dateformat}}" ng-model="vm.fixture.kickOff" is-open="vm.datePickerOpenStatus.kickOff" required />
                    <span class="input-group-addon">
                        <span ng-click="vm.openCalendar('kickOff')"><i class="glyphicon glyphicon-calendar"></i></span>
                    </span>
                </div>
                <div class="text-danger" ng-show="editForm.kickOff.$invalid" align="right">Invalid Date/Time Value.</div> 
            </div>       
        </div>
        <div class="col-xs-2">
            End Date <br />
            <label ng-if="vm.fixture.endDate">{{vm.fixture.endDate | date:'medium'}}</label>
            <label ng-if="!vm.fixture.endDate">Not Set</label>
        </div>
        <div class="col-xs-2">
            Status <br />
            <label ng-if="!vm.isEditMode">{{vm.fixture.status}}</label> 
            <div ng-if="vm.isEditMode">
                <select class="form-control" name="fixtureStatus" ng-model="vm.fixture.status" ng-options="status as status for status in vm.fixtureStatus.value.data" required> 
                </select>
            </div>
        </div>
        <div class="col-xs-2">
            Feed Type <br />
            <label ng-if="!vm.isEditMode">{{vm.fixture.oddsFeedSettings.feed_type}}</label> 
            <div ng-if="vm.isEditMode">
                <select class="form-control" required ng-model="vm.fixture.oddsFeedSettings.feed_type" ng-options="feed as feed for feed in vm.fixtureFeedTypes.value.data"></select>
            </div>
        </div>
        <div class="col-xs-2">
            Odd Feed Update <br />
            <label ng-if="!vm.isEditMode">{{vm.fixture.oddsFeedSettings.feed}}</label> 
            <div ng-if="vm.isEditMode">
                <select class="form-control" required ng-model="vm.fixture.oddsFeedSettings.feed">
                    <option value="" ng-selected="!vm.fixture.oddsFeedSettings.feed">-- No Provider --</option>
                    <option>{{vm.fixture.oddsFeedSettings.feed}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-2">
            Data Feed Update <br />
            <label ng-if="!vm.isEditMode">{{vm.fixture.data_feed}}</label> 
            <div ng-if="vm.isEditMode">
                <select class="form-control" required ng-model="vm.fixture.data_feed">
                    <option value="" ng-selected="!vm.fixture.data_feed">-- No Provider --</option>
                    <option>{{vm.fixture.data_feed}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-2">
            Template <br />
            <label>{{vm.fixture.templateInfo.description}}</label>  
        </div>
    </div>

    <hr />
    <h4>Markets</h4>
    <div class="row" ng-if="vm.fixture.inputParameters">
        <div class="col-xs-2" align="center">
            <span>Input Parameter 1</span><br />
            <span ng-if="!vm.isEditMode">{{vm.fixture.inputParameters.one}}</span>
            <input type="text" name="" ng-if="vm.isEditMode" ng-model="vm.fixture.inputParameters.one" class="form-control"> 
        </div>
        <div class="col-xs-2" align="center">
            <span>Input Parameter 2</span><br />
            <span ng-if="!vm.isEditMode">{{vm.fixture.inputParameters.two}}</span>
            <input type="text" name="" ng-if="vm.isEditMode" ng-model="vm.fixture.inputParameters.two" class="form-control">
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-3">
            <button type="button" class="btn btn-default" ng-click="vm.toggleOpenAll(true)">Expand All</button>
            <button type="button" class="btn btn-default" ng-click="vm.toggleOpenAll(false)">Collapse All</button>  
        </div>
        <div class="col-xs-3">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="searchfor" class="col-sm-6 control-label">Search for:</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="searchfor" name="searchfor" ng-model="catFilter"
                            ng-options="status as status for status in vm.marketStatus.value.data">
                            <option value="">All</option> 
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr size="2" /> 
    <div ng-repeat="(key, market) in fixture.markets | filter:vm.searchMarket" ng-class="{'clearboth':$index%3==0}">
        <!--<div class="row">-->
            <uib-accordion close-others="oneAtATime">
                <div class="col-xs-4"> 
                    <uib-accordion-group is-open="market.accordStatus" class="{{(market.status == 'Active') ? 'panel-primary' : ((market.status == 'Inactive') ? 'panel-warning' : ((market.status == 'Blocked') ? 'panel-danger' : ((market.status == 'Cancelled') ? 'panel-default' : ((market.status == 'Completed') ? 'panel-success' : ((market.status == 'Started') ? 'panel-info' : ((market.status == 'Payout') ? 'panel-default' : ''))))))}}">
                        <uib-accordion-heading>
                            {{market.description}} (M)  <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': market.accordStatus, 'glyphicon-plus': !market.accordStatus}"></i>
                        </uib-accordion-heading>                           
                        <div class="row"> 
                            <div class="col-xs-3">
                                <label>Status</label>
                                <span ng-if="!vm.isEditMode">{{market.status}}</span> 
                                <select ng-if="vm.isEditMode" ng-model="market.status" class="form-control" ng-options="status for status in vm.marketStatus.value.data" required>
                                </select>  
                            </div> 
                            <div class="col-xs-3">
                                <label>Overround</label>
                                <span>{{market.overround}}</span> 
                            </div> 
                            <div class="col-xs-6">
                                <label>Exclude from Pricing</label>
                                <input ng-if="vm.isEditMode" ng-model="market.exclude_from_pricing" type="checkbox" required />
                                <span ng-if="!vm.isEditMode"> {{market.exclude_from_pricing}} </span>
                            </div>
                        </div>
                        <div class="row">
                            <uib-accordion close-others="oneAtATime">
                                <div class="col-xs-12"> 
                                    <uib-accordion-group is-open="market.accordCodeStatus">
                                        <uib-accordion-heading>
                                            Odds <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': market.accordCodeStatus, 'glyphicon-plus': !market.accordCodeStatus}" ng-click="vm.toggleCodeOpen(key, market.accordCodeStatus)"></i>
                                        </uib-accordion-heading>   
                                        <table class="jh-table table table-striped">  
                                            <tr>
                                                <th>Odd Description</th>
                                                <th>Odd</th>
                                                <th>Status</th>
                                            </tr> 
                                            <tr ng-repeat="marketCode in market.codes" ng-class="{'success':marketCode.status=='Won', 'warning':marketCode.status=='Cancelled', 'danger':marketCode.status=='Lost'}">
                                                <td>{{marketCode.description}}
                                                </td>
                                                <td><label ng-if="!vm.isEditMode">{{marketCode.odd}}</label>
                                                    <div ng-if="vm.isEditMode">
                                                        <input type="number" class="form-control" ng-model="marketCode.odd" required ng-change="vm.reCalcOverround(market)" />
                                                    </div></td>
                                                <td><label ng-if="!vm.isEditMode">{{marketCode.status}}</label>
                                                    <div ng-if="vm.isEditMode">
                                                       <select class="form-control" ng-model="marketCode.status" ng-options="status for status in vm.codeStatus.value.data" required>
                                                        </select> 
                                                    </div>
                                                </td>
                                            </tr>  
                                        </table> 
                                    </uib-accordion-group>
                                </div>
                            </uib-accordion> 
                        </div>  

                    </uib-accordion-group>
                </div>
            </uib-accordion> 
        <!--</div>  -->
    </div> 
</div>
</form>