
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFixtureLabel">Grid Actions</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="field_status">Odd Feed</label>
            <div class="col-sm-8">
                <select class="form-control" name="status" id="field_status"
                        ng-model="vm.fixtures.odd">
                        <option value=""> --- No Provider --- </option>
                        <option value="data1"> data1 </option>
                        <option value="data2"> data2 </option>
                </select>
            </div>
            <label class="control-label" for="field_status"><button class="btn btn-xs btn-info"> Apply </button></label>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="field_status">Data Feed</label>
            <div class="col-sm-8">
                <select class="form-control" name="status" id="field_status"
                        ng-model="vm.fixtures.data">
                        <option value=""> --- No Provider --- </option>
                        <option value="data1"> data1 </option>
                        <option value="data2"> data2 </option>
                </select>
            </div>
            <label class="control-label" for="field_status"><button class="btn btn-xs btn-info"> Apply </button></label>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="field_status">Status</label>
            <div class="col-sm-8">
                <select class="form-control" name="status" id="field_status"
                    ng-model="vm.fixtures.status">
                    <option value=""> In-Active </option>
                    <option value="Active"> Active </option>
                </select>
            </div>
            <label class="control-label" for="field_status"><button class="btn btn-xs btn-info"> Apply </button></label>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" name="bFinalResult" id="field_bFinalResult"
                    ng-model="vm.fixtures.text"/>
            </div>
            <label class="control-label" for="field_status"><button class="btn btn-xs btn-info"> Apply </button></label>
        </div>   
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Apply All</span>
        </button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</form>
