
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myForecastTypeLabel" translate="icontentApp.forecastType.home.createOrEditLabel">Create or edit a ForecastType</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="forecastType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.forecastType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="forecastType.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.forecastType.sumOfCodes" for="field_sumOfCodes">SumOfCodes</label>
            <input type="number" class="form-control" name="sumOfCodes" id="field_sumOfCodes"
                    ng-model="forecastType.sumOfCodes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.forecastType.withHandicapA" for="field_withHandicapA">WithHandicapA</label>
            <input type="checkbox" class="form-control" name="withHandicapA" id="field_withHandicapA"
                    ng-model="forecastType.withHandicapA"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.forecastType.withHandicapB" for="field_withHandicapB">WithHandicapB</label>
            <input type="checkbox" class="form-control" name="withHandicapB" id="field_withHandicapB"
                    ng-model="forecastType.withHandicapB"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.forecastType.hasLimit" for="field_hasLimit">HasLimit</label>
            <input type="checkbox" class="form-control" name="hasLimit" id="field_hasLimit"
                    ng-model="forecastType.hasLimit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="icontentApp.forecastType.hasDoubleChance" for="field_hasDoubleChance">HasDoubleChance</label>
            <input type="checkbox" class="form-control" name="hasDoubleChance" id="field_hasDoubleChance"
                    ng-model="forecastType.hasDoubleChance"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
