
<div>
    <h2><span translate="icontentApp.forecastType.detail.title">ForecastType</span> {{forecastType.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="icontentApp.forecastType.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{forecastType.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.forecastType.sumOfCodes">SumOfCodes</span>
                </td>
                <td>
                    <span class="form-control-static">{{forecastType.sumOfCodes}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.forecastType.withHandicapA">WithHandicapA</span>
                </td>
                <td>
                    <span class="form-control-static">{{forecastType.withHandicapA}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.forecastType.withHandicapB">WithHandicapB</span>
                </td>
                <td>
                    <span class="form-control-static">{{forecastType.withHandicapB}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.forecastType.hasLimit">HasLimit</span>
                </td>
                <td>
                    <span class="form-control-static">{{forecastType.hasLimit}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.forecastType.hasDoubleChance">HasDoubleChance</span>
                </td>
                <td>
                    <span class="form-control-static">{{forecastType.hasDoubleChance}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
