<div>
    <h2 translate="icontentApp.forecastType.home.title">ForecastTypes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="forecastType.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="icontentApp.forecastType.home.createLabel">Create new ForecastType
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="icontentApp.forecastType.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumOfCodes"><span translate="icontentApp.forecastType.sumOfCodes">SumOfCodes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="withHandicapA"><span translate="icontentApp.forecastType.withHandicapA">WithHandicapA</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="withHandicapB"><span translate="icontentApp.forecastType.withHandicapB">WithHandicapB</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasLimit"><span translate="icontentApp.forecastType.hasLimit">HasLimit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasDoubleChance"><span translate="icontentApp.forecastType.hasDoubleChance">HasDoubleChance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="forecastType in forecastTypes track by forecastType.id">
                    <td><a ui-sref="forecastType.detail({id:forecastType.id})">{{forecastType.id}}</a></td>
                    <td>{{forecastType.description}}</td>
                    <td>{{forecastType.sumOfCodes}}</td>
                    <td>{{forecastType.withHandicapA}}</td>
                    <td>{{forecastType.withHandicapB}}</td>
                    <td>{{forecastType.hasLimit}}</td>
                    <td>{{forecastType.hasDoubleChance}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="forecastType.detail({id:forecastType.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="forecastType.edit({id:forecastType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="forecastType.delete({id:forecastType.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
