
<div>
    <h2><span translate="icontentApp.subscriber.detail.title">Subscriber</span> {{subscriber.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="icontentApp.subscriber.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{subscriber.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="icontentApp.subscriber.endpoint">Endpoint</span>
                </td>
                <td>
                    <span class="form-control-static">{{subscriber.endpoint}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
